.nuke-data-button {
    display: flex;
    width: max-content;

    margin: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    
    cursor: pointer;

    color: var(--container-on-secondary);
    background-color: var(--container-secondary);

    border-radius: 16px;
    text-decoration: none;

    flex-direction: row;
    align-items: center;
    font-weight: 600;

    &:hover,&.selected {
        color: var(--container-on-secondary);
        background-color: var(--container-secondary);
        outline-style: solid;
        outline-width: 2px;
        outline-color: var(--container-on-secondary);
    }
}

.nuke-data-button img {
    width: 18px;
    height: 18px;

    margin-left: 2px;
    margin-right: 4px;
}
