.spinner {
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  border-top-width: 3px;
  border-top-style: solid;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner.small {
  width: 18px;
  height: 18px;
}

.spinner.medium {
  width: 36px;
  height: 36px;
}

.spinner.large {
  width: 56px;
  height: 56px;
  border-width: 4px;
  border-top-width: 4px;
}

.spinner.primary {
    border-color: var(--container-on-primary);
    border-top-color: var(--container-primary);
}

.spinner.secondary {
    border-color: var(--container-on-secondary);
    border-top-color: var(--container-secondary);
}
