h1.label {
    margin: 16px 18px;
}

h2.label {
    margin: 12px 18px;
}

h3.label {
    margin: 8px 18px;
}

h4.label {
    margin: 4px 18px;
}

p.label {
    margin: 4px 18px;
}

.label.caption {
    margin: 4px 18px;
    font-weight: 600;
    font-size: 1.0em;
    color: var(--text-caption);
}

.label.footnote {
    margin: 4px 18px;
    font-weight: 500;
    font-size: 1.0em;
    color: var(--text-caption);
}
