.game-controls-layout {
    display: none !important;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;

    padding: 8px;

    display: flex;
    background-color: red;
    border-radius: 12px;
}
