body {
  margin: 0;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: BitPotion;
  src: url(./BitPotion.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-synthesis-weight: auto;
  font-style: normal;
  src: url(./Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-synthesis-weight: auto;
  font-style: italic;
  src: url(./Montserrat-Italic-VariableFont_wght.ttf);
}

#root {
  width: 100vw;
  height: 100vh;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary background colours. */
  --background: #fdfdfd;
  --on-background: #2a2a2a;

  /* Primary Container & Content. */
  --container-primary: #f5f5f5;
  --container-on-primary: #2a2a2a;

  /* Secondary Container & Content. */
  --container-secondary: #eeeeee;
  --container-on-secondary: #333333;

  /* Accent. */
  --accent-primary: #f0bb2d;
  --accent-secondary: #b0964d;
  --on-accent: #fdfdfd;

  /* Typography. */
  --text-primary: #1e1e1e;
  --text-secondary: #555555;
  --text-caption: #888888;

  /* Identica. */
  --logo-accent-colour: #f0bb2d;
  --logo-outline-colour: #fdfdfd;
  --logo-background-colour: #020110;
}
